{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

    <div class="container row justify-content-center mb-5"><h1> Détail Profil</h1></div>

<div class="container row justify-content-center">
    <div class=" align-items-center col-6" style="max-width:18rem;">
    <div class="card-body column justify-content-center">
        <h5 class="card-title">{{ user.pseudo }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Prénom : {{ user.prenom }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Nom : {{ user.nom }}</h6>
        <p class="card-text">Téléphone : {{ user.telephone }}</p>
        <div class="container row justify-content-center">
            {% if app.user.pseudo==user.pseudo %}
                <a href="{{ path('user_modifier', { id : user.id }) }}" class="btn btn-page">Modifier</a>
            {% endif %}
        </div>
    </div>
    </div>
</div>
{% endblock %}
