{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Modif profil{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('accueil')}}" class="lien">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('user_profil',{id:user.id}) }}" class="lien">Détails profil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modification profil</li>
        </ol>
    </nav>
    <h1>Modifies ton profil, {{ app.user.pseudo }}</h1>
    <section id="modifier-profil">




                {{ form_start (formUser) }}
                <div class="form-group ">
                    {{ form_row(formUser.pseudo) }}
                </div>
                <div class="form-group ">
                    {{ form_row(formUser.email) }}

                </div>
                <div class="form-group ">
                    {{ form_row(formUser.telephone) }}
                </div>
                <div class="form-group ">
                    {{ form_row(formUser.plainPassword) }}
                </div>

                <div class="form-group ">
                    {{ form_row(formUser.prenom) }}
                </div>
                <div class="form-group ">
                    {{ form_row(formUser.nom) }}

                </div>
                <div class="form-group ">
                    {{ form_row(formUser.new_password) }}
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-page">Enregistrer</button>
                    <a href="{{ path('user_profil',{id:user.id}) }}" class="btn btn-secondary">Retour</a>
                </div>
                {{ form_end (formUser) }}
            </div>


    </section>

{% endblock %}
