{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Gestion Utilisateurs{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home')}}" class="lien">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('admin_accueil')}}" class="lien">Accueil Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gestion des véhicules</li>
        </ol>
    </nav>
    <h1>Liste des Véhicules</h1>
    <a href="{{ path('admin_ajouterVehicule') }}" class="btn btn-page-outline">Ajouter un véhicule</a>
<div class="container">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Désignation :</th>
            <th scope="col">Immatriculation :</th>
            <th scope="col">Agence :</th>
            <th scope="col">Etat :</th>
            <th scope="col">Gestion</th>

        </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}

        <td>{{ vehicule.designation }}</td>
        <td>{{ vehicule.immatriculation }}</td>
        <td>{{ vehicule.agence.libelle }}</td>
        <td>{{ vehicule.etat.libelle }}</td>

        <td>
            <a href="{{ path('admin_modifierVehicule',{id:vehicule.id}) }}" class="btn btn-sm btn-primary">Modifier Véhicule</a>
            <a href="{{ path('admin_supprimer_vehicule',{id:vehicule.id}) }}" class="btn btn-sm btn-primary">supprimer Véhicule</a>

        </td>


        </tbody>
        {% endfor %}
    </table>
            </div>


{% endblock %}
