{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Volet Admin{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home')}}" class="lien">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('admin_accueil')}}" class="lien">Accueil Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('admin_gestionVehicule')}}" class="lien">Gestion des véhicules</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifier un véhicule</li>
        </ol>
    </nav>

    <h1 class="text-center">Modifier un véhicule</h1>
    <section id="inscriptionUser">

        {{ form_start(formVehicule) }}

        <div>
            {{ form_label(formVehicule.designation) }}
        </div>
        <div class="col-2">
            {{ form_widget(formVehicule.designation) }}
        </div>
        <div class="col-2">
            {{ form_label(formVehicule.immatriculation) }}
        </div>
        <div class="col-2">
            {{ form_widget(formVehicule.immatriculation) }}
        </div>
        <div>
            {{ form_label(formVehicule.dateAchat) }}
            <div class="col-2">
                {{ form_widget(formVehicule.dateAchat) }}
            </div>
            <div class="col-2">
                {{ form_label(formVehicule.type) }}
            </div>
            <div class="col-2">
                {{ form_widget(formVehicule.type) }}
            </div>
            <div class="col-2">
                {{ form_label(formVehicule.etat) }}
                {{ form_widget(formVehicule.etat) }}
            </div>
            <div class="col-2">
                {{ form_label(formVehicule.agence) }}
                {{ form_widget(formVehicule.agence) }}
            </div>


        </div>
        <button type="submit" class="btn">Enregistrer</button>
        {{ form_end(formVehicule) }}

    </section>
{% endblock %}
