{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue !</h1>
        <p class="lead">Voici le site de l'ENI proposant des covoiturages !</p>
        <hr class="my-4">
        <p>Participes ou organise des covoiturages, c'est économique et bon pour la planète !</p>
        <p class="lead">
            <a class=" btn-page btn" href="{{ path('app_login') }}" role="button" id="btn-page">Connexion</a>
        </p>
    </div>

    {{ form_start(formSearch) }}
    <div class="container">
        <div>
            {{ form_row(formSearch.agence) }}
        </div>
        <div class="row">
            {{ form_label(formSearch.dateDebut) }}
            {{ form_widget(formSearch.dateDebut) }}
        </div>
        <div class="row">
            {{ form_label(formSearch.dateFin) }}
            {{ form_widget(formSearch.dateFin) }}
        </div>
        <div>
            {{ form_row(formSearch.submit) }}
        </div>
    </div>

    {{ form_end(formSearch) }}

    <div class="container">
        <table class="table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col">Destination</th>
                <th scope="col">Date et heure du covoiturage</th>
                <th scope="col">Nombre de places/Places dispo</th>
                <th scope="col">Conducteur</th>
            </tr>
            </thead>
            <tbody>
            {% for resa in reservations %}
                <tr class="text-center">
                    <td>{{ resa.destination.libelle }}</td>
                    <td>{{ resa.dateHeureDebut |format_datetime(locale='FR') }}</td>
                    <td>{{ resa.inscriptions | length }}/{{ resa.nbrePlaces }}</td>
                    <td>{{ resa.user.pseudo }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>


{% endblock %}