<!doctype html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <title>{% block title %}EniCovoit {% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ asset('bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>
<body>
<header>
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">

                <ul class="navbar-nav me-auto">
                    {% if app.user %}
                    <li class="nav-item {% if app.request.get('home') == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{{path('home') }}">Accueil

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Covoiturage</a>
                    </li>
                        <li class="nav-item {% if 'user_profil' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('user_profil', {id:app.user.id}) }}">Mon profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                    <li class="nav-item {% if app.request.get('app_login') %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item {% if app.request.get('app_register') %}active{% endif %}">
                            <a class="nav-link" href="{{path('admin_accueil') }}">Volet Admin</a>
                        </li>
                    {% endif %}


                </ul>

            </div>
        </div>
    </nav>


</header>


{% block body %}

    <div style="text-align: right">
        {{ date('now')|format_datetime('full', 'none', locale='FR') }}
    </div>

{% endblock %}
</body>

</html>
